/* --- style ui-btnDownload --- */
.ui-btnDownload {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(1em / 1.2) 1em;
  background-color: rgba(255, 255, 255, 0%);
  color: inherit;
  cursor: pointer;
  font-family: var(--font-accent);
  font-size: var(--fs-btn-download);
  font-weight: 500;
  line-height: 0.96;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: var(--dur-main);
  transition-property: color;
  transition-timing-function: var(--easing-main);
}

.ui-btnDownload::after,
.ui-btnDownload::before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  pointer-events: none;
}

.ui-btnDownload::before {
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  transform: scaleY(0);
  transform-origin: center bottom;
  transition-duration: var(--dur-main);
  transition-property: transform;
  transition-timing-function: var(--easing-main);
}

.ui-btnDownload::after {
  border-width: calc(var(--border-size) * 3);
  border-style: solid;
  border-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
}

.ui-btnDownload:hover {
  color: var(--bs-corporate, rgba(138, 140, 206, 100%));
}

.ui-btnDownload:hover::before {
  transform: scaleY(1);
}

.ui-btnDownload .text,
.ui-btnDownload .icon {
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.ui-btnDownload .icon {
  width: calc(1em / 1.5);
  height: calc(1em / 1.5);
  transition-duration: var(--dur-main);
  transition-property: transform;
  transition-timing-function: var(--easing-main);
}

.ui-btnDownload .icon svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: var(--color, currentcolor);

  --color: currentcolor;
}

.ui-btnDownload:hover .icon {
  transform: rotateZ(45deg);
}

/* .ui-btnDownload .icon-go {
  transition-delay: 0s, var(--dur-main);
  transition-duration: 0s, var(--dur-main);
} */

/* .ui-btnDownload .icon-go-hover {
  opacity: 0;
  transform: translateX(-100%);
  transition-delay: calc(var(--dur-main) / 2), 0s;
  transition-duration: 0s, calc(var(--dur-main) / 2);
}

.ui-btnDownload:hover .icon-go-hover {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0s, 0s;
  transition-duration: var(--dur-main), var(--dur-main);
} */

@media (min-width: 80em) {
  .ui-btnDownload {
    width: 5.625em;
    height: 5.625em;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.625em;
    padding-top: 0.5em;
  }

  .ui-btnDownload::after {
    border-width: calc(var(--border-size) * 6);
  }

  .ui-btnDownload .icon {
    width: 0.5em;
    height: 0.5em;
    align-self: flex-end;
  }
}

/* --- end style ui-btnDownload --- */
