/* --- style color --- */
:root {
  --bs-primary: rgb(46, 46, 46, 100%);
  --bs-primary-rgb: 46, 46, 46;
  --bs-secondary: rgba(173, 173, 173, 100%);
  --bs-secondary-rgb: 173, 173, 173;
  --bs-contrast: rgba(255, 255, 255, 100%);
  --bs-contrast-rgb: 255, 255, 255;
  --bs-corporate: rgba(138, 140, 206, 100%);
  --bs-corporate-rgb: 138, 140, 206;
  --bs-danger: rgba(238, 106, 95, 100%);
  --bs-dark: rgba(77, 77, 77, 100%);
  --bs-dark-rgb: 77, 77, 77;
  --bs-light: rgba(228, 228, 228, 100%);
  --bs-light-rgb: 228, 228, 228;
}

/* --- end style color --- */
