/* --- style fonts --- */
:root {
  --font-accent: DrukCyr;
  --font-main: PTRootUI;
  --bs-font-sans-serif:
    var(--font-main),
    system-ui,
    -apple-system,
    "Segoe UI",
    roboto,
    "Helvetica Neue",
    arial,
    "Noto Sans",
    "Liberation Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  font-family: var(--bs-font-sans-serif);
}
/* --- end style fonts --- */
