/* --- style typograhpy --- */
/* stylelint-disable number-max-precision */
:root {
  /* font-size = 10px if user agent font-size = 16px */
  font-size: 62.5%;

  /* font-size body */
  --fs-body: 1.6rem;

  /* font-size h1, h2, h3 */
  --fs-headline-1: 4.8rem;
  --fs-headline-2: 4rem;
  --fs-headline-3: 2.4rem;

  /* font-size ui-btn */
  --fs-btn: 1.8rem;

  /* font-size ui-btnDownload */
  --fs-btn-download: 2.4rem;

  /* font-size ui-link, ui-linkDropdown */
  --fs-menu-link: 1.8rem;

  /* font-size text-accent */
  --fs-text-accent: 2.8rem;

  /* font-size text-lead */
  --fs-text-lead: 2rem;

  /* font-size card-title */
  --fs-card-title: 2.8rem;

  /* font-size text-caption */
  --fs-text-caption: 1.2rem;

  /* font-size text-secondary */
  --fs-text-secondary: 1.4rem;
}

@media (min-width: 80em) {
  :root {
    /* font-size body */

    /* --fs-body: calc(0.96rem + 0.5vw); */
    --fs-body: calc(0.8rem + 0.625vw);

    /* font-size h1, h2, h3 */

    /* --fs-headline-1: calc(8.96rem + 0.5vw); */
    --fs-headline-1: calc(4.8rem + 3.75vw);

    /* --fs-headline-2: calc(6.56rem + 0.5vw); */
    --fs-headline-2: calc(3.6rem + 2.8125vw);

    /* --fs-headline-3: calc(1.76rem + 0.5vw); */
    --fs-headline-3: calc(1.2rem + 0.9375vw);

    /* font-size ui-btn */

    /* --fs-btn: calc(1.16rem + 0.5vw); */
    --fs-btn: calc(0.9rem + 0.703125vw);

    /* font-size ui-btnDownload */
    --fs-btn-download: calc(1.6rem + 1.25vw);

    /* font-size ui-link, ui-linkDropdown */
    --fs-menu-link: calc(0.9rem + 0.703125vw);

    /* font-size text-accent */

    /* --fs-text-accent: calc(4.16rem + 0.5vw); */
    --fs-text-accent: calc(2.4rem + 1.875vw);

    /* font-size text-lead */

    /* --fs-text-lead: calc(1.36rem + 0.5vw); */
    --fs-text-lead: calc(1rem + 0.78125vw);

    /* font-size card-title */
    --fs-card-title: calc(1.6rem + 1.25vw);

    /* font-size text-caption */
    --fs-text-caption: calc(0.6rem + 0.46875vw);

    /* font-size text-secondary */

    /* --fs-text-secondary: calc(0.7rem + 0.546875vw); */
    --fs-text-secondary: calc(0.7rem + 0.55vw);
  }
}

@media (min-width: 160em) {
  :root {
    /* font-size body */

    /* --fs-body: calc(1.92rem + 0.5vw); */
    --fs-body: calc(1.6rem + 0.625vw);

    /* font-size h1, h2, h3 */

    /* --fs-headline-1: calc(17.92rem + 0.5vw); */
    --fs-headline-1: calc(9.6rem + 3.75vw);

    /* --fs-headline-2: calc(13.12rem + 0.5vw); */
    --fs-headline-2: calc(7.2rem + 2.8125vw);

    /* --fs-headline-3: calc(3.52rem + 0.5vw); */
    --fs-headline-3: calc(3.2rem + 1.25vw);

    /* font-size ui-btn */

    /* --fs-btn: calc(2.32rem + 0.5vw); */
    --fs-btn: calc(1.8rem + 0.703125vw);

    /* font-size ui-btnDownload */

    /* --fs-btn-download: calc(5.12rem + 0.5vw); */
    --fs-btn-download: calc(3.2rem + 1.25vw);

    /* font-size ui-link, ui-linkDropdown */

    /* --fs-menu-link: calc(2.32rem + 0.5vw); */
    --fs-menu-link: calc(1.8rem + 0.703125vw);

    /* font-size text-accent */

    /* --fs-text-accent: calc(8.32rem + 0.5vw); */
    --fs-text-accent: calc(4.8rem + 1.875vw);

    /* font-size text-lead */

    /* --fs-text-lead: calc(2.72rem + 0.5vw); */
    --fs-text-lead: calc(2rem + 0.78125vw);

    /* font-size card-title */

    /* --fs-card-title: calc(5.12rem + 0.5vw); */
    --fs-card-title: calc(3.2rem + 1.25vw);

    /* font-size text-caption */

    /* --fs-text-caption: calc(1.12rem + 0.5vw); */
    --fs-text-caption: calc(1.2rem + 0.46875vw);

    /* font-size text-secondary */

    /* --fs-text-secondary: calc(1.52rem + 0.5vw); */
    --fs-text-secondary: calc(1.4rem + 0.546875vw);
  }
}

/* service classes */
body,
.text-primary {
  font-family: var(--font-main);
  font-size: var(--fs-body);
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.4;
}

h1 {
  font-family: var(--font-accent);
  font-size: var(--fs-headline-1);
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1;
  text-transform: uppercase;
}

h2 {
  font-family: var(--font-accent);
  font-size: var(--fs-headline-2);
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1;
  text-transform: uppercase;
}

h3 {
  font-size: var(--fs-headline-3);
  font-weight: 700;
  line-height: 1;
}

.text-accent {
  font-family: var(--font-accent);
  font-size: var(--fs-text-accent);
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
}

.text-lead {
  font-size: var(--fs-text-lead);
  font-weight: 500;
  line-height: 1.4;
}

.text-secondary {
  font-size: var(--fs-text-secondary);
  font-weight: 500;
  line-height: 1.4;
}

.text-caption {
  font-size: var(--fs-text-caption);
  font-weight: 500;
  line-height: 1;
}

@media (min-width: 80em) {
  h1 {
    letter-spacing: 0.01em;
  }

  h2 {
    letter-spacing: 0.02em;
  }
}

/* end service classes */

/* --- end style typograhpy --- */
