/* --- style typograhpy --- */
:root {
  /* font-size = 10px if user agent font-size = 16px */
  font-size: 62.5%;
  
  /* font-size */
  --fs-1: 35px;
  --fs-2: 28px;
  --fs-3: 20px;
  --fs-4: 18px;
  --fs-5: 16px;
  --fs-6: 14px;

  /* lihe-height */
  --lh-1: calc(40 / 35);
  --lh-2: calc(32 / 28);
  --lh-3: 1;
  --lh-4: 1;
  --lh-5: 1.5;
  --lh-6: calc(18 / 14);
}

@media (min-width: 992px) {
  :root {
    /* font-size */
    --fs-1: 80px;
    --fs-2: 48px;
    --fs-3: 24px;

    /* lihe-height */
    --lh-1: 1;
    --lh-2: calc(56 / 48);
  }
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: -2%;
  font-size: var(--font-main);
  font-weight: 500;
}

h1 {
  font-size: 4.8rem;
  letter-spacing: 3%;
  line-height: 1;
  font-size: var(--font-accent);
  font-weight: 500;
}

h2 {
  font-size: 4rem;
  letter-spacing: 3%;
  line-height: 1;
  font-size: var(--font-accent);
  font-weight: 500;
}

h3 {
  font-size: 2.4rem;
  letter-spacing: -1%;
  line-height: 1;
  font-size: var(--font-main);
  font-weight: 700;
}

.text-accent {
  font-size: 2.8rem;
  line-height: 1.1;
  letter-spacing: 3%;
  font-size: var(--font-accent);
  font-weight: 500;
}

.text-lead {
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: -2%;
  font-size: var(--font-main);
  font-weight: 500;
}

.text-primary {
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: -2%;
  font-size: var(--font-main);
  font-weight: 500;
}

.text-secondary {
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0;
  font-size: var(--font-main);
  font-weight: 500;
}

.text-caption {
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: -2%;
  font-size: var(--font-main);
  font-weight: 500;
}

@media(min-width: 60em) {
  h1 {
    font-size: 9.6rem;
    letter-spacing: 1%;
  }
  
  h2 {
    font-size: 7.2rem;
    letter-spacing: 2%;
  }

  .text-accent {
    font-size: 4.8rem;
  }
}
/* --- end style typograhpy --- */
