/* --- style ui-toggle --- */
.ui-toggle {
  position: relative;
  display: flex;
  align-items: center;
}

.ui-toggle input[type="ckeckbox"] {
  background-color: var(--bs-ligth, rgba(228, 228, 228, 1));
  transition-property: background-color, opacity;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-out, ease-out;
  width: 4rem;
  height: 2rem;
}

.ui-toggle input[type="ckeckbox"]:hover {
  opacity: 0.7;
}

.ui-toggle input[type="ckeckbox"]:checked {
  background-color: var(--bs-corporate, rgba(138, 140, 206, 1));
}

.ui-toggle span {
  position: absolute;
  left: 0;
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  background-color: var(--bs-contrast, rgba(255, 255, 255, 1));
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

.ui-toggle input[type="ckeckbox"]:checked + span {
  transform: translateX(100%);
}
/* --- end style ui-link --- */