/* --- style ui-toggle --- */
.ui-toggle {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ui-toggle input[type="checkbox"] {
  width: 2.5em;
  height: 1.25em;
  border: none;
  margin: 0;
  appearance: none;
  background-color: var(--bs-ligth, rgba(228, 228, 228, 100%));
  border-radius: 6.25em;
  cursor: pointer;
  transition-duration: var(--dur-main), var(--dur-main);
  transition-property: background-color, opacity;
  transition-timing-function: var(--easing-main), var(--easing-main);
}

.ui-toggle input[type="checkbox"]:hover {
  opacity: 0.7;
}

.ui-toggle input[type="checkbox"]:checked {
  background-color: var(--bs-corporate, rgba(138, 140, 206, 100%));
}

.ui-toggle span {
  position: absolute;
  left: 0;
  width: 1.25em;
  height: 1.25em;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0%);
  background-clip: padding-box;
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  border-radius: 50%;
  pointer-events: none;
  transition-duration: var(--dur-main);
  transition-property: transform;
  transition-timing-function: var(--easing-main);
}

.ui-toggle input[type="checkbox"]:checked + span {
  transform: translateX(100%);
}

.ui-toggle label {
  margin-left: 0.5em;
  cursor: pointer;
  text-transform: lowercase;
}

@media (min-width: 160em) {
  .ui-toggle span {
    border-width: 4px;
  }
}

/* --- end style ui-link --- */
