/* --- style ui-linkFade --- */
.ui-linkFade {
  color: rgba(112, 112, 112, 100%);
  cursor: pointer;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: var(--border-size);
  text-underline-offset: 0.2em;
  transition-duration: var(--dur-main);
  transition-property: color;
  transition-timing-function: var(--easing-main);
}

.ui-linkFade:hover {
  color: var(--bs-contrast, rgba(255, 255, 255, 100%));
}

/* --- end style ui-linkFade --- */
