/* --- style ui-slider --- */
.ui-slider {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.ui-slider .track {
  position: absolute;
  width: 100%;
  height: var(--border-size);
  background:
    linear-gradient(
      to right,
      var(--bs-ligth, rgba(228, 228, 228, 100%)),
      var(--bs-ligth, rgba(228, 228, 228, 100%)) var(--value-from, 0%),
      var(--bs-corporate, rgba(138, 140, 206, 100%)) var(--value-from, 0%),
      var(--bs-corporate, rgba(138, 140, 206, 100%))  var(--value-to, 100%),
      var(--bs-ligth, rgba(228, 228, 228, 100%)) var(--value-to, 100%)
    );
  background-position: 0.875em;
  background-repeat: no-repeat;
  background-size: calc(100% - (0.875em * 2));
}

.ui-slider .track .label:first-child {
  padding-left: 0.875em;
}

.ui-slider .track .label:last-child {
  padding-right: 0.875em;
}

.ui-slider .label {
  position: absolute;
  display: block;
  width: 100%;
}

.ui-slider input {
  display: block;
  width: 100%;
  border: none;
  margin: 0;
  appearance: none;
  background-color: hsl(0deg, 100%, 100%, 0%);
  pointer-events: none;
}

.ui-slider input::-webkit-slider-runnable-track {
  height: 0;
  appearance: none;
}

.ui-slider input::-moz-range-track {
  height: 0;
  appearance: none;
}

.ui-slider input::-ms-track {
  height: 0;
  appearance: none;
}

.ui-slider input::-webkit-slider-thumb {
  appearance: none;
  cursor: pointer;
  pointer-events: auto;
  transform: translateY(-50%);
}

.ui-slider input::-moz-range-thumb {
  appearance: none;
  cursor: pointer;
  pointer-events: auto;
  transform: translateY(-50%);
}

.ui-slider input::-ms-thumb {
  appearance: none;
  cursor: pointer;
  pointer-events: auto;
  transform: translateY(-50%);
}

.ui-slider input[data-range="slider-from"]::-webkit-slider-thumb {
  width: 0.875em;
  height: 0.875em;
  border: calc(var(--border-size) * 2) solid var(--bs-contrast, rgba(255, 255, 255, 100%));
  background-color: var(--bs-corporate, rgba(138, 140, 206, 100%));
  border-radius: 50%;
  box-shadow: 0 1px 4px 0 rgba(123, 97, 255, 16%);
}

.ui-slider input[data-range="slider-to"]::-webkit-slider-thumb {
  position: relative;
  width: 0.875em;
  height: 0.875em;
  border: calc(var(--border-size) * 2) solid var(--bs-contrast, rgba(255, 255, 255, 100%));
  background-color: var(--bs-corporate, rgba(138, 140, 206, 100%));
  border-radius: 50%;
  box-shadow: 0 1px 4px 0 rgba(123, 97, 255, 16%);
}

.ui-slider input[data-range="slider-from"]::-moz-range-thumb {
  width: 0.875em;
  height: 0.875em;
  border: calc(var(--border-size) * 2) solid var(--bs-contrast, rgba(255, 255, 255, 100%));
  background-color: var(--bs-corporate, rgba(138, 140, 206, 100%));
  border-radius: 50%;
  box-shadow: 0 1px 4px 0 rgba(123, 97, 255, 16%);
}

.ui-slider input[data-range="slider-to"]::-moz-range-thumb {
  position: relative;
  width: 0.875em;
  height: 0.875em;
  border: calc(var(--border-size) * 2) solid var(--bs-contrast, rgba(255, 255, 255, 100%));
  background-color: var(--bs-corporate, rgba(138, 140, 206, 100%));
  border-radius: 50%;
  box-shadow: 0 1px 4px 0 rgba(123, 97, 255, 16%);
}

.ui-slider input[data-range="slider-from"]::-ms-thumb {
  width: 0.875em;
  height: 0.875em;
  border: calc(var(--border-size) * 2) solid var(--bs-contrast, rgba(255, 255, 255, 100%));
  background-color: var(--bs-corporate, rgba(138, 140, 206, 100%));
  border-radius: 50%;
  box-shadow: 0 1px 4px 0 rgba(123, 97, 255, 16%);
}

.ui-slider input[data-range="slider-to"]::-ms-thumb {
  position: relative;
  width: 0.875em;
  height: 0.875em;
  border: calc(var(--border-size) * 2) solid var(--bs-contrast, rgba(255, 255, 255, 100%));
  background-color: var(--bs-corporate, rgba(138, 140, 206, 100%));
  border-radius: 50%;
  box-shadow: 0 1px 4px 0 rgba(123, 97, 255, 16%);
}

/* --- end style ui-slider --- */
