/* --- style ui-linkDropdown --- */
.ui-linkDropdown {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: calc(1em / 1.5) calc(1em / 1.125);
  color: inherit;
  font-size: var(--fs-menu-link);
  line-height: calc(16 / 18);
  text-decoration: none;
}

.ui-linkDropdown .text {
  color: inherit;
  pointer-events: all;
  text-decoration: none;
  transition-duration: var(--dur-main);
  transition-property: color;
  transition-timing-function: var(--easing-main);
}

.ui-linkDropdown .icon {
  position: relative;
  display: flex;
  width: calc(1em / 1.125);
  height: calc(1em / 1.125);
  align-items: center;
  justify-content: center;
  border-width: var(--border-size);
  border-style: solid;
  border-color: var(--border-color, rgba(228, 228, 228, 100%));
  margin-left: calc(1em / 2.25);
  border-radius: 50%;
  pointer-events: all;
  transition-duration: var(--dur-main);
  transition-property: transform;
  transition-timing-function: var(--easing-main);
}

/* icon fill */
.ui-linkDropdown .icon::after,
.ui-linkDropdown .icon::before {
  position: absolute;
  width: calc(var(--border-size, 1px) * 6);
  height: calc(var(--border-size, 1px) * 2);
  background-color: currentcolor;
  content: "";
  transform-origin: center;
  transition-duration: var(--dur-main);
  transition-property: transform;
  transition-timing-function: var(--easing-main);
}

.ui-linkDropdown .icon::before {
  transform: rotateZ(-90deg);
}

.ui-linkDropdown:hover,
.ui-linkDropdown.is-open,
[data-dropdown="btn"]:hover .ui-linkDropdown,
[data-dropdown="btn"].is-open .ui-linkDropdown {
  color: inherit;
}

.ui-linkDropdown:hover .text,
.ui-linkDropdown.is-open .text,
[data-dropdown="btn"]:hover .ui-linkDropdown .text,
[data-dropdown="btn"].is-open .ui-linkDropdown .text {
  color: var(--bs-corporate, rgba(138, 140, 206, 100%));
}

.ui-linkDropdown:hover .icon,
.ui-linkDropdown.is-open .icon,
.ui-linkDropdown:hover .icon::after,
.ui-linkDropdown.is-open .icon::after,
[data-dropdown="btn"]:hover .ui-linkDropdown .icon,
[data-dropdown="btn"].is-open .ui-linkDropdownn .icon,
[data-dropdown="btn"]:hover .ui-linkDropdown .icon::after,
[data-dropdown="btn"].is-open .ui-linkDropdown .icon::after {
  transform: rotateZ(-90deg);
}

@media (min-width: 80em) {
  .ui-linkDropdown {
    padding: calc(1em / 0.75) calc(1em / 0.9);
  }

  .ui-linkDropdown.is-open:not(:hover) .text {
    color: inherit;
  }

  .ui-linkDropdown.is-open:not(:hover) .icon,
  .ui-linkDropdown.is-open:not(:hover) .icon::after {
    transform: rotateZ(0deg);
  }
}

/* @media (min-width: 137.5em) {
  .ui-linkDropdown {
    padding-right: calc(1em / 2.25 + 1em / 0.9 + 24px);
  }

  .ui-linkDropdown .icon {
    width: 24px;
    height: 24px;
  }

  .ui-linkDropdown .icon::after,
  .ui-linkDropdown .icon::before {
    width: 9px;
    height: 3px;
  }
} */

/* @media (min-width: 160em) {
  .ui-linkDropdown {
    padding-right: calc(1em / 2.25 + 1em / 0.9 + 32px);
  }

  .ui-linkDropdown .icon {
    width: 32px;
    height: 32px;
    margin-top: 4px;
  }

  .ui-linkDropdown .icon::after,
  .ui-linkDropdown .icon::before {
    width: 12px;
    height: 4px;
  }
} */

/* --- end style ui-linkDropdown --- */
