/* --- style ui-btnInverse  --- */
.ui-btnInverse {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2.4rem 4rem;
  border: none;
  background-color: rgba(255, 255, 255, 0%);
  color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;

  /* letter-spacing: -0.036em; */
  line-height: 0.9;
  text-transform: lowercase;
  transition-duration: 0.15s;
  transition-property: color;
  transition-timing-function: ease-out;
}

/*
:after .ui-btnInverse:hover background,
:before .ui-btnInverse border
*/
.ui-btnInverse::before,
.ui-btnInverse::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

.ui-btnInverse::after {
  z-index: 1;
  background-color: var(--bs-corporate, rgba(138, 140, 206, 100%));
  transform: scaleY(1);
  transform-origin: center bottom;
  transition-property: transform;
}

.ui-btnInverse::before {
  z-index: 1;
  border: 1px solid var(--bs-ligth, rgba(228, 228, 228, 100%));
}

.ui-btnInverse:hover {
  color: inherit;
}

.ui-btnInverse:hover::after {
  transform: scaleY(0);
}

.ui-btnInverse .text,
.ui-btnInverse .icon {
  position: relative;
  z-index: 2;
}

.ui-btnInverse .icon {
  --color: currentcolor;

  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color, currentColor);
}

.ui-btnInverse .icon + *,
.ui-btnInverse * + .icon {
  margin-left: 0.4rem;
}

/* --- end style ui-btnInverse --- */
