/* --- style ui-tabIcon --- */
.ui-tabIcon {
  display: flex;
  align-items: center;
  padding: 1.2rem 0.8rem;
  border: none;
  background-color: rgba(255, 255, 255, 0%);
  color: var(--bs-secondary, rgba(173, 173, 173, 100%));
  cursor: pointer;
  font-family: var(--font-main);
  font-size: 1.6rem;
  font-weight: 500;

  /* letter-spacing: -0.032em; */
  line-height: 1;
  transition-duration: 0.15s;
  transition-property: color;
  transition-timing-function: ease-out;
}

.ui-tabIcon:hover,
.ui-tabIcon:active {
  color: inherit;
}

.ui-tabIcon .icon {
  --color: currentcolor;

  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color, currentColor);
}

.ui-tabIcon .icon + *,
.ui-tabIcon * + .icon {
  margin-left: 0.4rem;
}

.ui-tabIcon .icon:last-child {
  margin-right: 0;
}

/* --- end style ui-tabIcon --- */
