/* --- style component menu --- */
.menu {
  --menu-bg: var(--bs-primary, rgba(46, 46, 46, 100%));
  --menu-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  --menu-border-color: var(--bs-dark, rgba(77, 77, 77, 100%));

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
}

.menu .item {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.menu .ui-linkDropdown {
  pointer-events: none;
}

.menu .ui-link {
  padding: calc(1em / 1.5) calc(1em / 1.125);
  font-size: var(--fs-menu-link);
  line-height: calc(16 / 18);
}

.menu [data-dropdown="panel"] {
  --height-dropdown: 0;

  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(var(--height-dropdown) * 1px);
  transition-duration: var(--dur-main);
  transition-property: height;
  transition-timing-function: var(--easing-main);
  will-change: height;
}

.menu [data-dropdown="panel"]::after,
.menu [data-dropdown="panel"]::before {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  height: var(--border-size);

  /* background-color: var(--menu-border-color); */
  background-color: var(--border-color);
  content: "";
  opacity: 0;
  transition-duration: var(--dur-main);
  transition-property: opacity;
  transition-timing-function: var(--easing-main);
}

.menu [data-dropdown="panel"]::after {
  bottom: 0;
}

.menu [data-dropdown="panel"]::before {
  top: 0;
}

/* style submenu */
.submenu {
  position: relative;
  z-index: 0;
  width: 100%;
  padding: calc(1em / 1.5) 0;
  transition-duration: var(--dur-main);
  transition-property: opacity;
  transition-timing-function: var(--easing-main);
}

.submenu .item {
  align-items: stretch;
  padding-top: 0;
  padding-bottom: 0;
}

.submenu .ui-link {
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  color: inherit;
  transition-duration: var(--dur-main);
  transition-property: color;
  transition-timing-function: var(--easing-main);
}

.submenu .ui-link::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bs-corparate, rgba(138, 140, 206, 100%));
  content: "";
  transform: scaleY(0);
  transform-origin: bottom center;
  transition-duration: var(--dur-main);
  transition-property: transform;
  transition-timing-function: var(--easing-main);
}

.submenu .ui-link:hover {
  color: var(--bs-contrast, rgba(255, 255, 255, 100%));
}

.submenu .ui-link:hover::after {
  transform: scaleY(1);
}

/* end style submenu */

.menu .ui-linkDropdown.is-open + [data-dropdown="panel"]::after,
.menu .ui-linkDropdown.is-open + [data-dropdown="panel"]::before {
  opacity: 1;
}

.menu .link-news {
  position: relative;
  display: none;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: calc(1em / 0.9);
  font-size: var(--fs-menu-link);
}

.menu .link-news::before {
  position: absolute;
  left: 0;
  width: var(--border-size, 1px);
  height: calc(1em / 1.125);
  background-color: var(--border-color);
  content: "";
  pointer-events: none;
  transform: translateX(calc(1em / -1.8));
}

@media (min-width: 80em) {
  .menu {
    --menu-bg: var(--bs-contrast, rgba(255, 255, 255, 100%));
    --menu-color: var(--bs-primary, rgba(46, 46, 46, 100%));
    --menu-border-color: var(--bs-ligth, rgba(228, 228, 228, 100%));

    position: relative;
    z-index: 1;
    flex-direction: row;
    padding: 0;
    text-align: left;
  }

  /* скрывает выподающий submenu при начальном состоянии */
  .menu::after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: var(--border-size);
    border-style: solid;

    /* border-color: var(--menu-border-color); */
    border-color: var(--border-color);
    border-right: none;
    background-color: var(--bg-color);
    content: "";
  }

  .menu .item {
    width: auto;
  }

  .menu .ui-link {
    position: relative;
    z-index: 2;
    padding: calc(1em / 0.75) calc(1em / 0.9);
  }

  .menu .ui-linkDropdown {
    position: relative;
    z-index: 2;
    pointer-events: initial;
  }

  .menu [href="./management.html"] + [data-dropdown="panel"] [href="./management.html"] {
    display: none;
  }

  .menu [data-dropdown="panel"] {
    position: static;
    height: 0;
  }

  .menu [data-dropdown="panel"]::after,
  .menu [data-dropdown="panel"]::before {
    display: none;
  }

  /* style submenu */
  .submenu {
    position: absolute;
    z-index: 0;

    /* z-index: -2; */
    bottom: 0;
    left: 0;
    width: calc(100% + 0.03125em); /* stylelint-disable number-max-precision */
    height: auto;
    padding: calc(1em / 1.5) 0;
    border: var(--border-size);
    border-style: solid;

    /* border-color: var(--menu-border-color); */
    border-color: var(--border-color);
    margin-top: 0;
    background-color: var(--bg-color);
    opacity: 1;
    transform-origin: top center;
    transition-delay: var(--dur-main), 0s;
    transition-duration: var(--dur-main), var(--dur-main);
    transition-property: visibility, transform;
    transition-timing-function: var(--easing-main), var(--easing-main);
    visibility: hidden;
  }

  .submenu .ui-link {
    padding: calc(1em / 1.5)  calc(1em / 0.9);
  }

  .menu .item:hover .submenu {
    /* z-index: -2; */
    z-index: 0;
    transform: translateY(calc(100% - var(--border-size)));

    /* transform: translate3d(0, calc(100% - var(--border-size)), 0); */
    transition-delay: 0s, 0s;
    visibility: visible;
  }

  /* end style submenu */
}

/* --- end style component menu --- */
