ul(class='menu js-menu')
  li(class='item')
    a(class='ui-linkDropdown' href='javascript:void(0);' data-dropdown='btn' aria-expanded='false') 
      span(class='text') управление недвижимостью
      span(class='icon' aria-hidden='true')
    div(data-dropdown='panel')
      ul(class='submenu' data-dropdown='content')
        li(class='item')
          a(class='ui-link' href='#') item
        li(class='item')
          a(class='ui-link' href='#') item
        li(class='item')
          a(class='ui-link' href='#') item
        li(class='item')
          a(class='ui-link' href='#') item
  li(class='item')
    a(class='ui-link' href='#') 
      span(class='text') продажа и аренда
  li(class='item')
    a(class='ui-linkDropdown' href='javascript:void(0);' data-dropdown='btn' aria-expanded='false') 
      span(class='text') консалтинг
      span(class='icon' aria-hidden='true')
    div(data-dropdown='panel')
      ul(class='submenu' data-dropdown='content')
        li(class='item')
          a(class='ui-link' href='#') item
        li(class='item')
          a(class='ui-link' href='#') item
        li(class='item')
          a(class='ui-link' href='#') item