div(class='socialLinks')
  a(class='ui-linkSocial' href="#")
    svg(class='icon' focusable='false' aria-hidden='true') 
      use(href='#icon-social-tlgrm')
    span(class='visually-hidden') телеграм
  a(class='ui-linkSocial' href="#")
    svg(class='icon' focusable='false' aria-hidden='true')
      use(href='#icon-social-vk')
    span(class='visually-hidden') вконтакте
