div(class='socialLinks')
  a(class='link' href="#")
    span(class='icon')
      include ../../images/icons/social-icon/tlgrm.svg
    span(class='visually-hidden') телеграм
  a(class='link' href="#")
    span(class='icon')
      include ../../images/icons/social-icon/vk.svg
    span(class='visually-hidden') вконтакте
