/* --- style component socialLinks --- */
.socialLinks {
  display: flex;
}

.socialLinks .ui-linkSocial:not(:first-child) {
  margin-left: calc(1em * 0.6);
}

.socialLinks .ui-linkSocial .icon {
  --color-bg: var(--bs-dark, rgba(77, 77, 77, 100%));
  --color: currentcolor;

  transition-duration: var(--dur-main);
  transition-property: color;
  transition-timing-function: var(--easing-main);
}

.socialLinks .ui-linkSocial:hover .icon {
  color: var(--bs-corporate);
}

/* --- end style component socialLinks --- */
