/* --- style ui-btnArrow --- */
.ui-btnArrow {
  display: flex;
  width: 4rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
  border-width: 0.15rem;
  border-style: solid;
  border-color: var(--bs-light, rgba(228, 228, 228, 100%));
  background-color: rgba(255, 255, 255, 0%);
  border-radius: 50%;
  color: inherit;
  transition-duration: 0.15s;
  transition-property: border-color;
  transition-timing-function: ease-out;
}

.ui-btnArrow:hover {
  border-color: currentcolor;
}

.ui-btnArrow:disabled {
  border-color: var(--bs-light, rgba(228, 228, 228, 100%));
}

.ui-btnArrow .icon {
  --color: currentcolor;

  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color, currentColor);
}

.ui-btnArrow:disabled .icon {
  fill: var(--bs-light, rgba(228, 228, 228, 100%));
}

/* --- end style ui-btnArrow --- */
