/* --- style ui-select --- */
.ui-select {
  position: relative;
  z-index: 1;
  display: block;
  min-width: 16em;
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  box-shadow:
    0 0.4rem 0.8rem 0 rgba(187, 187, 187, 0%),
    0 0.8rem 3.2rem 0 rgba(187, 187, 187, 0%);
  cursor: pointer;
  transition-duration: var(--dur-quick);
  transition-property: box-shadow;
  transition-timing-function: var(--easing-quick);
}

.ui-select.open {
  z-index: 2;
  box-shadow:
    0 0.4rem 0.8rem 0 rgba(187, 187, 187, 16%),
    0 0.8rem 3.2rem 0 rgba(187, 187, 187, 32%);
  transition-duration: var(--dur-main);
  transition-timing-function: var(--easing-main);
}

.ui-select .input {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em;
  padding-right: 3em;
  border: var(--border-size) solid var(--bs-ligth, rgba(228, 228, 228, 100%));
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
}

.ui-select .input .label {
  width: 100%;
  margin-bottom: 1em;
  color: var(--bs-secondary, rgba(173, 173, 173, 100%));
  font-size: var(--fs-text-caption);
  line-height: 1;
  pointer-events: none;
}

.ui-select .input .value {
  color: var(--bs-primary, rgba(46, 46, 46, 100%));
  font-size: var(--fs-body);
  line-height: 1;
  pointer-events: none;
}

.ui-select .input .icon {
  position: absolute;
  right: 1em;
  display: flex;
  width: 1.5em;
  height: 1.5em;
  align-items: center;
  justify-content: center;
  border: var(--border-size) solid var(--bs-ligth, rgba(228, 228, 228, 100%));
  border-radius: 50%;
  pointer-events: none;
  transition-duration: var(--dur-quick);
  transition-property: transform;
  transition-timing-function: var(--easing-quick);
}

.ui-select.open .input .icon {
  transform: rotateZ(-540deg);
  transition-duration: var(--dur-main);
  transition-timing-function: var(--easing-main);
}

.ui-select .input .icon svg {
  --color: var(--color-primary, rgba(44, 44, 44, 100%));

  width: 1em;
  height: 1em;
  fill: var(--color, currentColor);
}

.ui-select .options {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 100%;
  max-height: 18.75em;
  border: var(--border-size, 1px) solid var(--bs-ligth, rgba(228, 228, 228, 100%));
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: var(--bs-light, rgba(228, 228, 228, 100%)) rgba(177, 177, 177, 100%);
  scrollbar-width: thin;
  transform: translateY(-5px);
  transition-delay: var(--dur-quick), 0s, var(--dur-quick);
  transition-duration: var(--dur-quick), var(--dur-quick), 0s;
  transition-property: transform, opacity, visibility;
  transition-timing-function: var(--easing-quick), var(--easing-quick), var(--easing-quick);
  visibility: hidden;
}

.ui-select .options::-webkit-scrollbar {
  width: 3px;
  appearance: none;
}

.ui-select .options::-webkit-scrollbar-track {
  background-color: var(--bs-light, rgba(228, 228, 228, 100%));
}

.ui-select .options::-webkit-scrollbar-thumb {
  background-color: rgba(177, 177, 177, 100%);
}

.ui-select.open .options {
  padding-bottom: 1em;
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s, 0s;
  visibility: visible;
}

.ui-select .option,
.ui-select .reset {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0.875em 1em;
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  color: var(--bs-primary, rgba(46, 46, 46, 100%));
  font-size: 1em;
  line-height: 1;
  transition-duration: var(--dur-main);
  transition-property: color;
  transition-timing-function: var(--easing-main);
}

.ui-select .reset {
  border-bottom: var(--border-size) solid var(--bs-ligth, rgba(228, 228, 228, 100%));
  margin-bottom: 1em;
}

.ui-select .option .text,
.ui-select .reset .text {
  pointer-events: none;
}

.ui-select .option .icon,
.ui-select .reset .icon {
  --color: currentcolor;

  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  fill: var(--color, currentColor);
  pointer-events: none;
}

.ui-select .option .icon {
  transform: scale(0);
  transition-duration: var(--dur-main);
  transition-property: transform;
  transition-timing-function: var(--easing-main);
}

.ui-select .option.selected .icon {
  transform: scale(1);
}

.ui-select .option [type="checkbox"] {
  appearance: none;
}

.ui-select .option::after,
.ui-select .reset::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bs-corporate, rgba(138, 140, 206, 100%));
  content: "";
  transform: scaleY(0);
  transform-origin: center bottom;
  transition-duration: var(--dur-main);
  transition-property: transform;
  transition-timing-function: var(--easing-main);
}

.ui-select .option:hover,
.ui-select .reset:hover {
  color: var(--bs-contrast, rgba(255, 255, 255, 100%));
}

.ui-select .option:hover::after,
.ui-select .reset:hover::after {
  transform: scaleY(1);
}

@media (min-width: 80em) {
  .ui-select .options {
    left: calc(var(--border-size, 1px) * -1);
    width: calc(100% + var(--border-size, 1px) * 2);
  }
}

/* --- end style ui-select --- */
