/* --- style component nav --- */

/* wrapper */
.nav {
  --nav-bg: var(--bs-primary, rgba(46, 46, 46, 100%));
  --nav-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
}

.nav [data-nav="menu"] {
  /* position: absolute; */

  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
}

/*
to animate menu opening
::before - overlay,
::after - background.
*/
.nav [data-nav="menu"]::after,
.nav [data-nav="menu"]::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  content: "";
}

.nav [data-nav="menu"] .menu {
  flex-grow: 1;
  align-items: stretch;
  padding: 0.75em 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.nav .menu .item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.nav .menu .ui-link,
.nav .menu .ui-linkDropdown {
  justify-content: flex-start;
  margin-right: auto;
}

.nav [data-nav="menu"] .header {
  position: static;
}

.nav [data-nav="menu"] .header,
.nav [data-nav="menu"] .footer {
  display: flex;
  min-height: 0;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* .ui-btnForward - button "связаться с нами" */
.nav .ui-btnForward {
  width: 100%;
  justify-content: center;
}

/* styles: menu closed */
[data-nav="menu"] {
  transition-delay: var(--dur-second);
  transition-duration: 0s;
  transition-property: visibility;
  visibility: hidden;
}

[data-nav="menu"]::after,
[data-nav="menu"]::before {
  transition-duration: var(--dur-second), var(--dur-second);
  transition-property: transform, opacity;
  transition-timing-function: var(--easing-second), var(--easing-second);
}

[data-nav="menu"]::before {
  opacity: 0;
}

[data-nav="menu"]::after {
  transform: translateY(100%);
}

[data-nav="menu"] > .header,
[data-nav="menu"] > .footer {
  transition-duration: var(--dur-second);
  transition-property: transform;
  transition-timing-function: var(--easing-second);
}

[data-nav="menu"] > .header {
  transform: translateY(-100%);
}

[data-nav="menu"] > .footer {
  transform: translateY(100%);
}

[data-nav="menu"] > .menu {
  opacity: 0;
  transition-duration: var(--dur-main);
  transition-property: opacity;
  transition-timing-function: var(--easing-main);
}

/* end styles: menu closed */

/*
styles: menu opening.
class .is-active add from nav.js
*/

[data-nav="menu"].is-active {
  transition-delay: 0s;
  visibility: visible;
}

[data-nav="menu"].is-active::before {
  opacity: 1;
}

[data-nav="menu"].is-active::after {
  transform: translateY(0%);
}

[data-nav="menu"].is-active > .header,
[data-nav="menu"].is-active > .footer {
  transform: translate(0);
}

[data-nav="menu"].is-active > .menu {
  opacity: 1;
  transition-delay: var(--dur-second);
}

/* end styles: menu opening */

@media (min-width: 80em) {
  .nav {
    display: flex;
    flex-wrap: nowrap;
  }

  .nav .ui-btnOpenMenu {
    display: none;
  }

  .nav [data-nav="menu"] {
    position: static;
    min-height: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    opacity: 1;
    transform: translateY(0);
    transition-duration: 0s;
    visibility: visible;
  }

  .nav [data-nav="menu"]::after,
  .nav [data-nav="menu"]::before {
    display: none;
  }

  .nav [data-nav="menu"] .menu {
    padding: 0;
    color: inherit;
    opacity: 1;
  }

  .nav [data-nav="menu"] .header {
    display: none;
  }

  .nav [data-nav="menu"] .footer {
    width: auto;
    flex-shrink: 0;
    transform: none;
    transition-duration: 0s;
  }
}

/* --- end style component nav --- */
