div(class='ticker js-ticker' data-ticker-velocity='0.5')
  div(class='line' data-ticker='line')
    div(class='group-track' data-ticker='group-track')
      div(class='track') 
        span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
      div(class='track') 
        span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
      div(class='track') 
        span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
      div(class='track') 
        span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
    div(class='group-track' data-ticker='group-track')
      div(class='track') 
        span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
      div(class='track') 
        span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
      div(class='track') 
        span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
      div(class='track') 
        span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
  div(class='line' data-ticker='line' data-ticker-inverse)
    div(class='group-track' data-ticker='group-track')
      div(class='track') 
        span(class='track-item' data-ticker-inverse) Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
      div(class='track') 
        span(class='track-item' data-ticker-inverse) Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
      div(class='track') 
        span(class='track-item' data-ticker-inverse) Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
      div(class='track') 
        span(class='track-item' data-ticker-inverse) Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
    div(class='group-track' data-ticker='group-track' )
      div(class='track') 
        span(class='track-item' data-ticker-inverse) Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
      div(class='track') 
        span(class='track-item' data-ticker-inverse) Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
      div(class='track') 
        span(class='track-item' data-ticker-inverse) Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
      div(class='track') 
        span(class='track-item' data-ticker-inverse) Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
  div(class='line' data-ticker='line')
    div(class='group-track' data-ticker='group-track')
      div(class='track') 
        span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
      div(class='track') 
        span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности 
          span(class='pointer') •
      div(class='track') 
        span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
      div(class='track') 
        span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
    div(class='group-track' data-ticker='group-track')
      div(class='track') 
        span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
      div(class='track') 
        span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
      div(class='track') 
        span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •
      div(class='track') 
        span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
          span(class='pointer') •