div(class='ticker js-ticker' data-ticker-velocity='0.4')
  div(class='ticker-cursor js-customCursor')
    button(type='button') 
      span заказать
      span обратный
      span звонок
  button(class='ticker-content' data-btn='modal-call')
    div(class='line' data-ticker='line')
      div(class='group-track' data-ticker='group-track')
        div(class='track') 
          span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
        div(class='track') 
          span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
        div(class='track') 
          span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
        div(class='track') 
          span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
      div(class='group-track' data-ticker='group-track')
        div(class='track') 
          span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
        div(class='track') 
          span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
        div(class='track') 
          span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
        div(class='track') 
          span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
    div(class='line' data-ticker='line' data-ticker-inverse)
      div(class='group-track' data-ticker='group-track')
        div(class='track') 
          span(class='track-item' data-ticker-inverse) Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
        div(class='track') 
          span(class='track-item' data-ticker-inverse) Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
        div(class='track') 
          span(class='track-item' data-ticker-inverse) Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
        div(class='track') 
          span(class='track-item' data-ticker-inverse) Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
      div(class='group-track' data-ticker='group-track' )
        div(class='track') 
          span(class='track-item' data-ticker-inverse) Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
        div(class='track') 
          span(class='track-item' data-ticker-inverse) Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
        div(class='track') 
          span(class='track-item' data-ticker-inverse) Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
        div(class='track') 
          span(class='track-item' data-ticker-inverse) Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
    div(class='line' data-ticker='line')
      div(class='group-track' data-ticker='group-track')
        div(class='track') 
          span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
        div(class='track') 
          span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности 
            span(class='pointer') •
        div(class='track') 
          span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
        div(class='track') 
          span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
      div(class='group-track' data-ticker='group-track')
        div(class='track') 
          span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
        div(class='track') 
          span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
        div(class='track') 
          span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •
        div(class='track') 
          span(class='track-item') Закажите обратный звонок, чтобы обсудить подробности
            span(class='pointer') •