.filter-news {
  position: relative;
  z-index: 3;
  width: calc(100% + 2em);
  margin-top: 2.4rem;
  margin-left: -1em;
}

.filter-news .ui-select .options {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border: var(--border-size) solid var(--bs-ligth, rgba(228, 228, 228, 100%));
  background-color: rgba(239, 239, 239, 100%);
}

.filter-news .ui-select .input {
  padding: 2.4rem 1.6rem;
}

.filter-news .ui-select .input .value {
  color: var(--bs-corporate);
}

.filter-news--label {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  flex-shrink: 0;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 2.4rem 1.6rem;
  border: none;
  background-color: rgba(46, 46, 46, 0%);
  color: var(--bs-corporate);
  cursor: pointer;
  font-size: var(--fs-body);
  font-weight: 500;
  line-height: 1;
  text-align: left;
  text-transform: lowercase;
  transition-duration: var(--dur-main);
  transition-property: color;
  transition-timing-function: var(--easing-main);
}

.filter-news--label .text {
  pointer-events: none;
}

.filter-news--bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  width: 10em;
  height: 100%;
  background-color: var(--bs-contrast, rgba(255, 255, 255, 1%));
  border-radius: inherit;
  transition-duration: var(--dur-main);
  transition-property: transform;
  transition-timing-function: var(--easing-main);
}

[type="radio"]:checked + .filter-news--label {
  display: none;
  color: var(--bs-corporate);
}

@media (min-width: 80em) {
  .filter-news {
    width: auto;
    margin-top: initial;
    margin-left: initial;
  }

  .filter-news .ui-select {
    box-shadow: none;
  }

  .filter-news .ui-select .input {
    display: none;
  }

  .filter-news .ui-select .options {
    position: relative;
    flex-direction: row;
    padding-bottom: 0;
    border-radius: 6.25em;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  .filter-news--label {
    width: 10em;
    justify-content: center;
    padding: 0.75em 0;
    color: var(--bs-secondary, rgba(173, 173, 173, 100%));
    text-align: center;
  }

  .filter-news--label:hover {
    color: var(--bs-corporate);
  }

  [type="radio"]:checked + .filter-news--label {
    display: block;
    color: var(--bs-corporate);
  }

  /* [type="radio"][value="1"]:checked ~ .filter-news--bg {
    transform: translateX(0);
  }

  [type="radio"][value="2"]:checked ~ .filter-news--bg {
    transform: translateX(100%);
  }

  [type="radio"][value="3"]:checked ~ .filter-news--bg {
    transform: translateX(200%);
  } */

  [type="radio"]:nth-of-type(1) ~ .filter-news--bg {
    transform: translateX(0);
  }

  [type="radio"]:nth-of-type(2):checked ~ .filter-news--bg {
    transform: translateX(100%);
  }

  [type="radio"]:nth-of-type(3):checked ~ .filter-news--bg {
    transform: translateX(200%);
  }

  .filter-news--bg {
    display: block;
  }
}
