/* --- style ui-input --- */
.ui-input,
.ui-input::placeholder {
  color: inherit;
  font-family: var(--font-accent);
  font-size: var(--fs-text-accent);
  font-weight: 500;
  line-height: 1.1;
  opacity: 1;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: var(--dur-main);
  transition-property: color;
  transition-timing-function: var(--easing-main);
}

.ui-input {
  width: 100%;
  padding: 0;
  padding-bottom: calc(1em / 3.5);
  border-width: 0;
  border-style: solid;
  border-color: var(--bs-dark, rgba(77, 77, 77, 100%));
  border-bottom-width: var(--border-size);
  background-color: rgba(255, 255, 255, 0%);
  transition-duration: var(--dur-main), var(--dur-main);
  transition-property: color, border-color;
  transition-timing-function: var(--easing-main), var(--easing-main);
}

.ui-input::placeholder {
  transition-duration: var(--dur-main);
  transition-property: color;
  transition-timing-function: var(--easing-main);
}

.ui-input:hover,
.ui-input:active {
  border-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
}

.ui-input:focus {
  border-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  outline: none;
}

.ui-input.invalid,
.ui-input.invalid::placeholder {
  border-color: var(--bs-danger, rgba(238, 106, 95, 100%));
  color: var(--bs-danger, rgba(238, 106, 95, 100%));
}

@media (min-width: 60em) {
  .ui-input {
    padding-bottom: 0.25em;
  }
}

/* --- end style ui-input --- */
