/* --- style ui-btnClose --- */
.ui-btnClose {
  position: relative;
  display: flex;
  width: 6.4rem;
  height: 6.4rem;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--bs-dark, rgba(77, 77, 77, 100%));
  background-color: rgba(255, 255, 255, 0%);
  color: inherit;
}

.ui-btnClose span {
  position: absolute;
  width: 1.6rem;
  height: 0.25rem;
  background-color: currentcolor;
  transform-origin: center;
  transition-duration: 0.15s, 0.15s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out, ease-out;
}

.ui-btnClose span:nth-child(1) {
  transform: rotateZ(45deg);
}

.ui-btnClose span:nth-child(2) {
  transform: rotateZ(-45deg);
}

.ui-btnClose:hover span:nth-child(1) {
  transform: rotateZ(0);
}

.ui-btnClose:hover span:nth-child(2) {
  opacity: 0;
  transform: rotateZ(0) scaleX(0);
}

/* --- end style ui-btnClose --- */
