/* *** styles page commerce *** */
@import "../components/filter/filter.css";
@import "../components/map/map.css";

.commerce {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* --- style block hero --- */
.commerce .hero {
  min-height: calc(100vh - 4.5em - (var(--fs-btn) / 0.375));
}

@media (min-width: 80em) {
  .commerce .hero {
    min-height: calc(100vh - 6.5em - (var(--fs-btn) / 0.28125)); /* stylelint-disable number-max-precision */
  }
}

/* --- end style block hero --- */

/* style panellist */
.panellist {
  --height-panellist: auto;

  /* overflow: hidden; */
  height: calc(var(--height-panellist) * 1px);
  transition-duration: var(--dur-second);
  transition-property: height;
  transition-timing-function: var(--easing-second);
  will-change: height;
}

.panel {
  position: relative;
  transition-delay: var(--dur-second);
  transition-duration: 0s;
  transition-property: visibility;
  transition-timing-function: var(--easing-second);
  visibility: hidden;
}

.panel::after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  content: "";
  opacity: 1;
  pointer-events: none;
  transition-delay: 0s;
  transition-duration: var(--dur-second);
  transition-property: opacity;
  transition-timing-function: var(--easing-second);
}

.panel.active {
  transition-delay: var(--dur-second);
  transition-duration: 0s;
  visibility: visible;
}

.panel.active::after {
  opacity: 0;
  transition-delay: var(--dur-second);
  transition-duration: var(--dur-second);
}

/* end style panellist */

/* panellistFilter */
.panellistFilter,
.panellistCommerce {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.panellistFilter .panel,
.panellistCommerce .panel {
  grid-column: 1;
  grid-row: 1;
}

/* end panellistFilter */

/* tablistCommerce */
.tablistCommerce {
  display: grid;
  padding: var(--border-size, 1px);
  background-color: var(--bs-light, rgba(228, 228, 228, 100%));
  grid-gap: var(--border-size, 1px);
  grid-template-columns: repeat(2, 1fr);
}

.tablistCommerce .ui-tab {
  flex-basis: 100%;
  border: none;
}

/* end tablistCommerce */

/* tablistView */
.tablistView .ui-tabToggle {
  width: 100%;
}

/* end tablistView */

/* --- style commerceControls --- */
.commerceControls {
  width: 100%;
}

.commerceControls .ui-btnFilter {
  width: 100%;
}

.commerceControls .tablistView {
  padding: 1em;
}

@media (min-width: 80em) {
  .commerceControls {
    display: none;
  }
}

/* --- end style commerceControls --- */

/* commerceResult */
.commerceResult {
  display: flex;
  height: auto;
  flex-direction: column;
}

.commerceResult .commerceControls {
  position: sticky;
  z-index: 12;
  bottom: 0;
  order: 1;
  transform: translateY(100%);
  transition-delay: 0s, var(--dur-main);
  transition-duration: var(--dur-main), var(--dur-main);
  transition-property: transform, visibility;
  transition-timing-function: var(--easing-main), var(--easing-main);
  visibility: hidden;
}

.commerceResult .commerceControls.is-show {
  transform: translateY(0);
  transition-delay: 0s, 0s;
  visibility: visible;
}

/* end commerceResult */

/* commerceMap */
.commerceMap {
  position: fixed;
  z-index: 11;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  opacity: 0;
  transform: translateY(-100%);
  transition-delay: var(--dur-second), calc(var(--dur-second) * 2);
  transition-duration: var(--dur-second), var(--dur-second);
  transition-property: transform, opacity;
  transition-timing-function: var(--easing-second), var(--easing-second);
}

.commerceMap .ymap {
  position: relative;
  z-index: 30;
  height: calc(100vh - 3rem);
  margin-top: auto;
  opacity: 0;
  transition-delay: 0s;
  transition-duration: var(--dur-second);
  transition-property: opacity;
  transition-timing-function: var(--easing-second);
}

.panelView.active .commerceMap {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s;
}

.panelView.active .ymap {
  position: relative;
  opacity: 1;
  transition-delay: var(--dur-second);
}

.panelView.active .ymap::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: var(--border-size) solid var(--bs-ligth, rgba(228, 228, 228, 100%));
  content: "";
  pointer-events: none;
}

@media (min-width: 80em) {
  .commerceMap .ymap {
    height: calc(100vh - 156px);
  }

  .filter-bottom {
    top: -3rem;
    transition-duration: var(--dur-second);
    transition-property: top;
    transition-timing-function: var(--easing-second);
  }

  .filter-bottom.hide {
    position: fixed;
    top: -3rem;
  }

  .filter-bottom.fixed {
    position: fixed;
    z-index: 12;
    top: calc(1em + ((var(--fs-menu-link) / 0.75) * 2));
    width: 100%;
  }
}

/* end commerceMap */

.commerceFilter {
  overflow: hidden;
  height: 7.4rem;
  transition-delay: 0s, var(--dur-second), var(--dur-second);
  transition-duration: 0s, 0s, 0s, 0s;
  transition-property: order, padding-top, height;
  transition-timing-function: linear, linear, linear;
}

.commerceFilter::before,
.commerceFilter::after {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  content: "";
  pointer-events: none;
  visibility: hidden;
}

.commerceFilter::before {
  z-index: 10;
  opacity: 0;
  transition-delay: var(--dur-second), 0s;
  transition-duration: 0s, var(--dur-second);
  transition-property: visibility, opacity;
  transition-timing-function: var(--easing-second), var(--easing-second);
}

.commerceFilter::after {
  z-index: 12;
  opacity: 1;
  transform: translateY(-100%);
  transition-delay: calc(var(--dur-second) * 2), 0s, var(--dur-second);
  transition-duration: 0s, var(--dur-second), var(--dur-second);
  transition-property: visibility, opacity, transform;
  transition-timing-function: var(--easing-second), var(--easing-second), var(--easing-second);
  visibility: hidden;
}

.commerceFilter.open {
  position: sticky;
  z-index: 60;
  top: 0;
  width: 100%;
  height: 100vh;
  order: -1;
  padding-top: 8rem;
  overflow-y: scroll;
  overscroll-behavior: contain;
  scrollbar-color: rgba(255, 255%, 255%, 0%);
  scrollbar-width: thin;
  transition-delay: var(--dur-second), var(--dur-second), var(--dur-second);
}

.commerceFilter.open::-webkit-scrollbar {
  width: 0;
  appearance: none;
}

.commerceFilter.open::-webkit-scrollbar-track {
  background-color: rgba(255, 255%, 255%, 0%);
}

.commerceFilter.open::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255%, 255%, 0%);
}

.commerceFilter.open::before {
  opacity: 1;
  transition-delay: 0s, 0s;
  transition-duration: 0s, var(--dur-second);
  visibility: visible;
}

.commerceFilter.open::after {
  opacity: 0;
  transform: translateY(0);
  transition-delay: 0s, var(--dur-second), 0s;
  transition-duration: 0s, var(--dur-second), var(--dur-second);
  visibility: visible;
}

.commerceFilter.close {
  position: sticky;
  z-index: 60;
  top: 0;
  order: -1;
}

.commerceFilter .top {
  position: absolute;
  z-index: 11;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  transition-delay: var(--dur-second);
  transition-duration: var(--dur-second);
  transition-property: visibility;
  transition-timing-function: var(--easing-second);
  visibility: hidden;
}

.commerceFilter .top::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: var(--border-size, 1px) solid var(--bs-ligth, rgba(228, 228, 228, 100%));
  border-bottom: none;
  content: "";
  pointer-events: none;
}

.commerceFilter h2 {
  margin-bottom: 0;
  font-family: var(--font-accent);
  font-size: var(--fs-text-accent);
}

.commerceFilter .ui-btnClose {
  width: 5em;
  height: 5em;
  border: var(--border-size, 1px) solid var(--bs-ligth, rgba(228, 228, 228, 100%));
  border-bottom: none;
}

.commerceFilter .panellistFilter {
  overflow: hidden;
  height: 0;
  transition-delay: var(--dur-second);
  transition-duration: 0s;
  transition-property: height;
  transition-timing-function: var(--easing-second);
}

.commerceFilter.open .top,
.commerceFilter.close .top {
  z-index: 11;
  top: 0;
  transition-delay: var(--dur-second);
  visibility: visible;
}

.commerceFilter .bottom {
  position: relative;
  z-index: 11;
}

.commerceFilter.open .panellistFilter {
  height: calc(var(--height-panellist) * 1px);
}

@media (min-width: 80em) {
  .commerceFilter {
    overflow: visible;
    height: auto;
  }

  .commerceFilter .panellistFilter {
    /* overflow: hidden; */
    overflow: visible;
    height: auto;
    transition-delay: var(--dur-second);
    transition-duration: 0s;
    transition-property: height;
    transition-timing-function: var(--easing-second);
  }

  .commerceFilter .bottom {
    position: static;
  }
}

/* --- style block build-list --- */
.build-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.build-list .item {
  display: flex;
  flex-wrap: wrap;
}

.build-list .item > .cardBuild {
  flex-basis: 100%;
}

@media (min-width: 80em) {
  .build-list {
    padding: 0 2.5em;
  }

  .build-list .item {
    flex-wrap: nowrap;
  }
}

/* --- end style block build-list --- */

/* --- style block card-list --- */

@media (min-width: 80em) {
  .commerce .card-list {
    padding: 0;
  }
}

/* --- end style block card-list --- */

/* *** end styles page commerce *** */
