@import "./utility/utility.css";
@import "./utility/reset.css";
@import "./global/fonts.css";
@import "./global/spacing.css";
@import "./global/color.css";
@import "./global/typography.css";
@import "./global/animation.css";
@import "./global/variables.css";
@import "../components/UI/ui-btn/ui-btn.css";
@import "../components/UI/ui-btnForward/ui-btnForward.css";
@import "../components/UI/ui-btnInverse/ui-btnInverse.css";
@import "../components/UI/ui-btnSecondary/ui-btnSecondary.css";
@import "../components/UI/ui-btnArrow/ui-btnArrow.css";
@import "../components/UI/ui-btnClose/ui-btnClose.css";
@import "../components/UI/ui-btnDrag/ui-btnDrag.css";
@import "../components/UI/ui-btnOpenMenu/ui-btnOpenMenu.css";
@import "../components/UI/ui-btnCloseMenu/ui-btnCloseMenu.css";
@import "../components/UI/ui-btnDownload/ui-btnDownload.css";
@import "../components/UI/ui-btnDownloadIcon/ui-btnDownloadIcon.css";
@import "../components/UI/ui-btnFilter/ui-btnFilter.css";
@import "../components/UI/ui-input/ui-input.css";
@import "../components/UI/ui-input-placeholder/ui-input-placeholder.css";
@import "../components/UI/ui-link/ui-link.css";
@import "../components/UI/ui-linkSocial/ui-linkSocial.css";
@import "../components/UI/ui-linkFade/ui-linkFade.css";
@import "../components/UI/ui-linkDropdown/ui-linkDropdown.css";
@import "../components/UI/ui-tab/ui-tab.css";
@import "../components/UI/ui-tabToggle/ui-tabToggle.css";
@import "../components/UI/ui-slider/ui-slider.css";
@import "../components/UI/ui-rangeBar/ui-rangeBar.css";
@import "../components/UI/ui-tabIcon/ui-tabIcon.css";
@import "../components/UI/ui-thumb/ui-thumb.css";
@import "../components/UI/ui-toggle/ui-toggle.css";
@import "../components/UI/ui-select/ui-select.css";
@import "../components/logo/logo.css";
@import "../components/form/form.css";
@import "../components/header/header.css";
@import "../components/navigation/navigation.css";
@import "../components/nav/nav.css";
@import "../components/menu/menu.css";
@import "../components/hero/hero.css";
@import "../components/cardWork/cardWork.css";
@import "../components/cardNews/cardNews.css";
@import "../components/footer/footer.css";
@import "../components/socialLinks/socialLinks.css";
@import "../components/ticker/ticker.css";
@import "../components/modal/modal.css";
@import "../components/modalCall/modalCall.css";
@import "../components/contact/contact.css";
@import "../components/cardFeature/cardFeature.css";
@import "../components/cardTariff/cardTariff.css";
@import "../components/cardBuild/cardBuild.css";
@import "../components/cardPerson/cardPerson.css";
@import "../components/tableTariff/tableTariff.css";
@import "../components/carousel/carousel.css";
@import "../components/badge/badge.css";
@import "../components/shareLinks/shareLinks.css";

/* --- style for bootstrap grid --- */

/* :root {
  --bs-gutter-x: 1em;
}

.row {
  --bs-gutter-x: calc(1em * 2);
} */

/* --- end style for bootstrap grid --- */

/* --- common style for all pages --- */
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-width: 320px;
  height: 100%;
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  color: var(--bs-primary, rgba(46, 46, 46, 100%));
  -webkit-font-smoothing: antialiased;
}

h2 {
  margin-bottom: 0.6em;
}

@media (min-width: 80em) {
  h2 {
    margin-bottom: calc(1em / 1.8);
  }
}

.wrapper {
  position: relative;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-items: stretch;
}

@media (min-width: 80em) {
  body > .footer {
    position: sticky;
    z-index: -1;
    bottom: 0;
    margin-top: auto;
  }
}

.block {
  padding-right: 1em;
  padding-left: 1em;
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
}

@media (min-width: 80em) {
  .block {
    padding-right: 2.5em;
    padding-left: 2.5em;
  }
}

.card-list {
  position: relative;
  display: grid;
  width: 100%;
  background-color: var(--bs-light, rgba(228, 228, 228, 100%));
  grid-gap: var(--border-size);
  grid-template-columns: 1fr;
}

.card-list::after {
  position: absolute;
  width: 100%;
  height: 100%;
  border: var(--border-size) solid var(--bs-light, rgba(228, 228, 228, 100%));
  content: "";
  pointer-events: none;
}

.card-list .item {
  position: relative;
  width: 100%;
}

.card-list .cardFeature {
  border: none;
}

@media (min-width: 80em) {
  .card-list {
    grid-template-columns: 1fr 1fr;
  }

  .card-list .item:nth-child(odd):last-child::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image:
      linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 100%) calc(50.2% - var(--border-size) / 8),
        var(--bs-light, rgba(228, 228, 228, 100%)) calc(50.3% - var(--border-size) / 8),
        var(--bs-light, rgba(228, 228, 228, 100%)) calc(50.3% + var(--border-size) / 8),
        rgba(255, 255, 255, 100%) calc(50.4% + var(--border-size) / 8)
      );
    background-repeat: no-repeat;
    content: "";
    transform: translateX(calc(100% + 0.0625em));
  }
}

/* --- end common style for all pages --- */

/* --- styles page service --- */
.block-card h2 {
  margin-top: 1.6em;
  margin-right: 0.4em;
  margin-bottom: 0.6em;
  margin-left: 0.4em;
}

.block-card {
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
}

@media (min-width: 80em) {
  .block-card h2 {
    margin-top: calc(140 / 1em);
    margin-right: calc(1em / 1.8);
    margin-bottom: calc(1em / 1.8);
    margin-left: calc(1em / 1.8);
  }
}

/* --- styles page service --- */
