/* *** styles page commerce *** */
@import "../components/filter/filter.css";
@import "../components/map/map.css";

.commerce,
.rent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* --- style block hero --- */
.commerce .hero {
  min-height: calc(100vh - 4.5em - (var(--fs-btn) / 0.375));
}

.rent .hero {
  z-index: 10;
}

.commerce .hero picture::after {
  background: linear-gradient(to bottom, rgba(10, 10, 10, 24%), rgba(10, 10, 10, 0%));
}

@media (min-width: 80em) {
  .commerce .hero {
    min-height: calc(100vh - 6.5em - (var(--fs-btn) / 0.28125)); /* stylelint-disable number-max-precision */
  }
}

/* --- end style block hero --- */

/* style panellist */
.panellist {
  --height-panellist: auto;

  /* overflow: hidden; */
  height: calc(var(--height-panellist) * 1px);
  transition-duration: var(--dur-second);
  transition-property: height;
  transition-timing-function: var(--easing-second);
  will-change: height;
}

.panel {
  position: relative;
  transition-delay: var(--dur-second);
  transition-duration: 0s;
  transition-property: visibility;
  transition-timing-function: var(--easing-second);
  visibility: hidden;
}

.panel::after {
  position: absolute;

  /* z-index: 1; */
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  content: "";
  opacity: 1;
  pointer-events: none;
  transition-delay: 0s;
  transition-duration: var(--dur-second);
  transition-property: opacity;
  transition-timing-function: var(--easing-second);
}

.panel.active {
  transition-delay: var(--dur-second);
  transition-duration: 0s;
  visibility: visible;
}

.panel.active::after {
  opacity: 0;
  transition-delay: var(--dur-second);
  transition-duration: var(--dur-second);
}

/* end style panellist */

/* panellistFilter */
.panellistFilter,
.panellistCommerce {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.panellistCommerce {
  align-items: flex-start;
  transition-duration: 0s;
}

.panellistFilter .panel,
.panellistCommerce .panel {
  grid-column: 1;
  grid-row: 1;
}

/* end panellistFilter */

/* tablistCommerce */
.tablistCommerce {
  position: relative;
  z-index: 10;
  display: grid;
  padding: var(--border-size, 1px);
  background-color: var(--bs-light, rgba(228, 228, 228, 100%));
  grid-gap: var(--border-size, 1px);
  grid-template-columns: repeat(2, 1fr);
}

.tablistCommerce .ui-tab {
  flex-basis: 100%;
  border: none;
}

@media (min-width: 80em) {
  .tablistCommerce {
    display: none;
  }
}

/* end tablistCommerce */

/* tablistView */
.tablistView .ui-tabToggle {
  width: 100%;
}

/* end tablistView */

/* commerceResult */
.commerceResult {
  display: flex;
  height: auto;
  flex-direction: column;
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
}

.commerceResult .commerceControls {
  position: sticky;
  z-index: 9;
  bottom: 0;
  order: 1;

  /* margin-top: 4.625em; */

  /* transform: translateY(0);
  transition-delay: 0s, var(--dur-main);
  transition-duration: var(--dur-main), var(--dur-main);
  transition-property: transform, visibility;
  transition-timing-function: var(--easing-main), var(--easing-main);
  visibility: visible; */
}

/* .commerceResult .commerceControls.is-show {
  transform: translateY(0);
  transition-delay: 0s, 0s;
  visibility: visible;
} */

/* end commerceResult */

/* --- style commerceControls --- */
.commerceControls {
  display: flex;
  width: 100%;
  height: 5em;
  flex-direction: column;
  justify-content: flex-end;
  transition-delay: calc(var(--dur-main) * 2);
  transition-duration: calc(var(--dur-main) * 2);
  transition-property: z-index;
  transition-timing-function: linear;
}

.commerceControls .ui-btnFilter {
  width: 100%;
  border: var(--border-size, 1px) solid var(--bs-ligth, rgba(228, 228, 228, 100%));
  border-bottom: none;
}

.commerceControls .tablistView {
  padding: 1em;
}

/* for map panellist */
.panelView.active + .commerceControls {
  position: fixed;
  z-index: 15;
  transition-delay: 0s;
  transition-duration: 0s;
}

@media (min-width: 80em) {
  .commerceControls {
    display: none;
  }
}

/* --- end style commerceControls --- */

/* commerceMap */
.commerceMap {
  position: fixed;
  z-index: 11;

  /* z-index: 12; for outer balloon pane */

  /* z-index: 12; */
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;

  /* height: calc(100vh - 154px); for outer balloon pane */

  /* height: calc(100vh - 154px); */
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  opacity: 0;
  transform: translateY(-100%);
  transition-delay: var(--dur-second), calc(var(--dur-second) * 2);
  transition-duration: var(--dur-second), var(--dur-second);
  transition-property: transform, opacity;
  transition-timing-function: var(--easing-second), var(--easing-second);
}

.commerceMap .ymap {
  position: relative;
  z-index: 30;
  height: calc(100vh - 3rem);
  margin-top: auto;
  opacity: 0;
  transition-delay: 0s;
  transition-duration: var(--dur-second);
  transition-property: opacity;
  transition-timing-function: var(--easing-second);
}

.panelView.active .commerceMap {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s;
}

.panelView.active .ymap {
  position: relative;
  opacity: 1;
  transition-delay: var(--dur-second);
}

.panelView.active .ymap::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: var(--border-size) solid var(--bs-ligth, rgba(228, 228, 228, 100%));
  content: "";
  pointer-events: none;
}

@media (min-width: 80em) {
  .commerceMap .ymap {
    height: calc(100vh - 9.625em);
  }

  .filter-bottom {
    top: -1.625em;
    transition-duration: var(--dur-second);
    transition-property: top;
    transition-timing-function: var(--easing-second);
  }

  .filter-bottom.hide {
    position: fixed;
    top: -1.625em;
  }

  .filter-bottom.fixed {
    position: fixed;
    z-index: 12;
    top: 4em;
    width: 100%;
  }
}

/* end commerceMap */

/* style filterMenu */
.filterMenu {
  position: fixed;
  z-index: 50;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: contain;
  transform: translateY(-100%);
  transition-delay: calc(var(--dur-second) * 2), calc(var(--dur-second) * 2);
  transition-duration: 0s, 0s;
  transition-property: visibility, transform;
  transition-timing-function: var(--easing-main), var(--easing-main);
  visibility: hidden;
}

.filterMenu.open {
  transform: translateY(0);
  transition-delay: 0s, 0s;
  visibility: visible;
}

.filterMenu::before,
.filterMenu::after {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  content: "";
  pointer-events: none;
  visibility: hidden;
}

.filterMenu::before {
  z-index: -1;
  opacity: 0;
  transition-delay: var(--dur-second), var(--dur-second);
  transition-duration: 0s, var(--dur-second);
  transition-property: visibility, opacity;
  transition-timing-function: var(--easing-second), var(--easing-second);
  visibility: hidden;
}

.filterMenu::after {
  z-index: 2;
  opacity: 1;
  transform: translateY(100%);
  transition-delay: calc(var(--dur-second) * 2), 0s, var(--dur-second);
  transition-duration: 0s, var(--dur-second), var(--dur-second);
  transition-property: visibility, opacity, transform;
  transition-timing-function: var(--easing-second), var(--easing-second), var(--easing-second);
  visibility: hidden;
}

.filterMenu.open::before {
  opacity: 1;
  transition-delay: 0s, 0s;
  transition-duration: 0s, var(--dur-second);
  transition-property: visibility, opacity;
  visibility: visible;
}

.filterMenu.open::after {
  opacity: 0;
  transform: translateY(0);
  transition-delay: 0s, var(--dur-second), 0s;
  transition-duration: 0s, var(--dur-second), var(--dur-second);
  visibility: visible;
}

.filterMenu .top {
  position: relative;
  z-index: 3;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  transform: translateY(-100%);
  transition-duration: var(--dur-second);
  transition-property: transform;
  transition-timing-function: var(--easing-second);
}

.filterMenu.open .top {
  transform: translateY(0);
  transition-delay: 0s;
}

.filterMenu .bottom {
  position: relative;
  height: calc(100% - 5em);
  opacity: 0;
  transition-delay: var(--dur-second);
  transition-duration: 0s;
  transition-property: opacity;
  transition-timing-function: var(--easing-second);
}

.filterMenu.open .bottom {
  opacity: 1;
}

.filterMenu .top::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: var(--border-size, 1px) solid var(--bs-ligth, rgba(228, 228, 228, 100%));
  content: "";
  pointer-events: none;
}

.filterMenu h2 {
  margin-bottom: 0;
  font-family: var(--font-accent);
  font-size: var(--fs-text-accent);
}

.filterMenu .ui-btnClose {
  width: 5em;
  height: 5em;
  border-bottom: none;
}

.filterMenu .panellistFilter {
  overflow: auto;
  height: calc(100% - 4.5em - var(--border-size));
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  scrollbar-color: rgba(255, 255, 255, 0%) rgba(255, 255, 255, 0%);
  scrollbar-width: thin;
  transition-delay: var(--dur-second);
  transition-duration: 0s;
  transition-property: height;
  transition-timing-function: var(--easing-second);
}

.filterMenu .panellistFilter::-webkit-scrollbar {
  width: 0;
  appearance: none;
}

.filterMenu .panellistFilter::-webkit-scrollbar-track {
  background-color: rgba(255, 255%, 255%, 0%);
}

.filterMenu .panellistFilter::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255%, 255%, 0%);
}

.filterMenu .tablistCommerce {
  z-index: 0;
  display: grid;
  padding-top: 0;
}

@media (min-width: 80em) {
  .filterMenu {
    position: static;
    z-index: initial;
    overflow: visible;
    height: auto;
    transform: none;
    visibility: visible;
  }

  .filterMenu .panellistFilter {
    /* overflow: hidden; */
    overflow: visible;
    height: auto;
    transition-delay: var(--dur-second);
    transition-duration: 0s;
    transition-property: height;
    transition-timing-function: var(--easing-second);
  }

  .filterMenu .top {
    display: none;
  }

  .filterMenu .bottom {
    position: static;
    opacity: 1;
  }
}

/* end style filterMenu */

/* --- style block build-list --- */
.build-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.build-list .item {
  display: flex;
  flex-wrap: wrap;
}

.build-list .item > .cardBuild {
  flex-basis: 100%;
}

@media (min-width: 80em) {
  .build-list {
    padding: 0 2.5em;
  }

  .build-list .item {
    flex-wrap: nowrap;
  }
}

/* --- end style block build-list --- */

/* --- style block card-list --- */

@media (min-width: 80em) {
  .commerce .card-list,
  .rent .card-list {
    padding: 0;
  }
}

/* --- end style block card-list --- */

/* *** end styles page commerce *** */
