/* @import "../lib/ownCarousel/ownCarousel.css"; */
@import "../components/swiper/swiper.css";

/* styles block block-hero */
.block-hero {
  position: relative;
  z-index: 0;
  display: flex;
  width: 100%;
  height: 74.125em;
  flex-direction: column;
  padding: 0 1em;
}

/* .block-hero::after,
.block-hero::before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.block-hero::after {
  background: linear-gradient(to bottom, rgba(10, 10, 10, 1.6%) 25%, rgba(10, 10, 10, 0%) 50%);
}

.block-hero::before {
  background-image: url("Images/filter/noise.gif");
  content: "";
  opacity: 0.08;
} */

.block-hero .heading {
  position: sticky;
  z-index: 3;
  top: 7.5em;
  width: 100%;
  max-width: 21em;
  margin-right: auto;
  margin-left: auto;
  color: var(--bs-contrast, rgba(255, 255, 255, 100%));

  /* font-size: var(--fs-headline-1); */
  text-align: center;
}

.block-hero .heading h1 {
  letter-spacing: 0.02em;
}

.block-hero .title {
  width: 100%;
  max-width: 30.5em;
  margin: 0 auto;
  margin-top: 1em;
  font-size: var(--fs-body);
}

.block-hero .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.block-hero .image-mask {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 62.31%;
  margin-top: auto;
}

.block-hero .image-mask::after,
.block-hero .image-mask::before,
.block-hero .image::after,
.block-hero .image::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.block-hero .image::after {
  background: linear-gradient(to bottom, rgba(10, 10, 10, 1.6%) 25%, rgba(10, 10, 10, 0%) 50%);
}

.block-hero .image::before,
.block-hero .image-mask::before {
  background-image: url("Images/filter/noise.gif");
  content: "";
  opacity: 0.08;
}

.block-hero .image-mask::before {
  top: 1.5em;
}

.block-hero .image picture,
.block-hero .image-mask picture {
  width: 100%;
  height: 100%;
}

.block-hero .image img,
.block-hero .image-mask img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

@media (min-width: 80em) {
  .block-hero {
    height: 96em;
    padding: 0 2.5em;
  }

  .block-hero .heading {
    top: 10em;

    /* max-width: 10.375em; */
    max-width: 62.25em;
  }

  .block-hero .heading h1 {
    letter-spacing: 0.01em;
  }

  .block-hero .title {
    width: 100%;
    max-width: 24.4em;
    margin: 0 auto;
    margin-top: 1.6em;
    font-size: var(--fs-text-lead);
  }
}

/* end styles block block-hero */

/* style block map */
.block-map {
  position: relative;
}

/* end style block map */

/* --- styles block promo --- */
.block-promo {
  position: relative;
  padding-top: 17.5em;
}

.block-promo .cards {
  padding-top: 4em;
  padding-bottom: 4em;
}

.block-promo .cardsList {
  display: grid;
  padding: var(--border-size);
  margin-right: 0;
  margin-left: 0;
  background-color: var(--bs-light);
  grid-gap: var(--border-size);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 25em), 1fr));
}

.block-promo .cardsList .cardWork {
  border: none;
}

.map {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 1em;
  display: flex;
  width: calc(100% - 1em * 2);
  height: 35em;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  background-image: url("Images/bg/index/map-mobile.svg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow:
    0 1.2rem 1.2rem 0 rgba(46, 46, 46, 1%),
    0 3.2rem 3.2rem 0 rgba(46, 46, 46, 2%);
  transform: translateY(-50%);
}

.map .heading {
  padding: 0.4em;
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));

  /* text-align: center; */
}

.map .info {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  color: var(--bs-secondary, rgba(173, 173, 173, 100%));
  font-size: var(--fs-text-caption);
  letter-spacing: -0.02em;
  line-height: 1;
}

.map .info .title {
  margin-bottom: calc(1em / 7);
  color: var(--bs-primary, rgba(46, 46, 46, 100%));
  font-family: var(--font-accent);
  font-size: var(--fs-text-accent);
  letter-spacing: 0.02em;
  line-height: 1.1;
  text-transform: uppercase;
}

.map .info > :first-child {
  margin-bottom: 1.25em;
}

@media (min-width: 28em) {
  .block-promo .cardsList::after {
    width: 100%;
    height: 100%;
    background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
    content: "";
  }
}

@media (min-width: 40em) {
  .map {
    background-image: url("Images/bg/index/map-desktop.svg");
  }
}

@media (min-width: 80em) {
  .block-promo {
    width: 100%;
    padding-top: 28.125em;
    margin-right: auto;
    margin-left: auto;
  }

  .block-promo .cardsList {
    grid-template-columns: repeat(3, 1fr);
  }

  .block-promo .cardsList::after {
    display: none;
  }

  .block-promo .cards {
    padding-top: 8.75em;
    padding-bottom: 6em;
  }

  .map {
    left: 2.5em;
    width: calc(100% - 2.5em * 2);
    height: 38.75em;

    /* background-image: url("Images/bg/index/map-desktop.svg"); */
    background-size: auto 100%;
    transform: translateY(calc(-100% + 28.125em));
  }

  .map .heading {
    max-width: 5.347em;
    padding: 0.555em;
    padding-top: 0.388em;
    text-align: left;
  }

  .map .info {
    flex-direction: row;
    padding: 2.5em;
    font-size: var(--fs-body);
  }

  .map .info .title {
    margin-bottom: calc(1em / 6);
  }

  .map .info > :first-child {
    margin-right: 2.5em;
    margin-bottom: 0;
  }
}

/* --- styles block promo --- */

/* --- styles block benefits --- */
.benefits {
  width: 100%;
  padding-top: 4em;
  background-color: var(--bs-primary, rgba(46, 46, 46, 100%));
  color: var(--bs-contrast, rgba(255, 255, 255, 100%));
}

.benefits .heading {
  padding: 0 0.4em;
}

.benefit {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--bs-primary, rgba(46, 46, 46, 100%));
}

.benefit::after {
  position: absolute;
  width: 100%;
  height: 100%;
  border: var(--border-size) solid var(--bs-dark, rgba(77, 77, 77, 100%));
  content: "";
}

.benefit .number,
.benefit .info {
  border: var(--border-size) solid var(--bs-dark, rgba(77, 77, 77, 100%));
}

.benefit .number {
  padding: 0.5em calc(1em / 3);
  color: rgba(112, 112, 112, 100%);
  font-family: var(--font-accent);
  font-size: var(--fs-headline-1);
  line-height: 0.875;
}

.benefit .info {
  padding: 1.5em 1em;
}

.benefit .title {
  margin-bottom: 0.5em;
  letter-spacing: -0.01em;
}

.benefit .content {
  position: relative;
  height: 33.75em;
  flex-grow: 1;
  flex-shrink: 2;
}

.benefit .content > picture::after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("Images/filter/noise.gif");
  content: "";
  object-fit: cover;
  object-position: center;
  opacity: 0.06;
}

.benefit img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 70% center;
}

/* style carousel-team */
.carousel-team {
  height: 33.75em;
}

.carousel-team .swiper {
  height: 100%;
}

/* end style controls */
.carousel-team .swiper-control {
  position: absolute;
  z-index: 1;
  top: 2.5em;
  bottom: auto;
  left: -2.5em;
  display: none;
  width: max-content;
  flex-direction: row;
  padding: 0;
  background-color: var(--bs-primary, rgba(46, 46, 46, 100%));
  color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  transform: translateX(-100%);
  visibility: visible;
}

.swiper-control .ui-btnArrow::before {
  border-color: var(--bs-dark, rgba(77, 77, 77, 100%));
}

.swiper-control .ui-btnArrow:first-child {
  margin-right: 0.5em;
}

.swiper-control .ui-btnArrow .icon {
  transform: rotateZ(-90deg);
}

@media (min-width: 80em) {
  .carousel-team {
    height: 100%;
  }

  .carousel-team .swiper-control {
    display: flex;
  }

  .swiper-control::after {
    display: none;
  }
}

/* end style own-carousel */

@media (min-width: 80em) {
  .benefits {
    padding-top: 6em;
  }

  .benefits .heading {
    width: 65.625%;
    padding-right: calc(1em / 1.8);
    padding-left: 0;
    margin-left: auto;
  }

  .benefit {
    position: sticky;
    top: 4em;
    display: grid;
    height: calc(100vh - 4em);
    justify-content: center;
    grid-template-columns: 34.375% 65.625%;
    grid-template-rows: 1fr auto;
    transform-style: preserve-3d;
  }

  .benefit .info {
    padding: 2.5em;
  }

  .benefit .number {
    padding: calc(1em / 1.2);
    font-size: var(--fs-text-accent);
  }

  .benefit .content {
    height: 100%;
    grid-column: 2;
    grid-row: 1/3;
  }

  .benefit img {
    object-position: center;
  }
}

/* --- end styles block benefits --- */

/* --- styles block news --- */
.block-news {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 4em;
  padding-bottom: 4em;
}

.block-news .carousel {
  margin-bottom: 1.5em;
}

.block-news .carousel-controls .ui-btnArrow::before {
  border-color: var(--bs-light, rgba(228, 228, 228, 100%));
  opacity: 1;
}

.block-news .carousel-controls .ui-btnArrow:disabled {
  color: var(--bs-light, rgba(228, 228, 228, 100%));
}

.newsGroup {
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: var(--bs-contrast, rgba(255, 255, 255, 100%));
}

.newsGroup .cardNews .body:only-child::before {
  border-bottom: none;
}

@media (min-width: 80em) {
  .block-news {
    padding-top: 6em;
    padding-bottom: 6em;
  }

  .block-news .carousel {
    position: relative;
    order: 1;
    margin-bottom: 0;
  }

  .block-news .carousel .carousel-controls {
    display: none;
  }

  .block-news .carousel::after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: var(--border-size, 1px) solid var(--bs-light, rgba(228, 228, 228, 100%));
    content: "";
    pointer-events: none;
  }

  .block-news .carousel-slides {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .block-news .carousel-slide {
    grid-column: auto;
    grid-row: auto;
  }
}

/* --- end styles block news --- */
