/* --- styles page service --- */
h2 {
  margin-top: 1.6em;
  margin-right: 0.4em;
  margin-bottom: 0.6em;
  margin-left: 0.4em;
}

@media (min-width: 80em) {
  h2 {
    margin-top: calc(140 / 1em);
    margin-right: calc(1em / 1.8);
    margin-bottom: calc(1em / 1.8);
    margin-left: calc(1em / 1.8);
  }
}

/* --- styles page service --- */
