/* --- style component cardBuild --- */
.cardBuild {
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 27.5em;
}

.cardBuild::after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(10, 10, 10, 80%), rgba(10, 10, 10, 0%));
  content: "";
}

.cardBuild > .body {
  position: relative;
  z-index: 4;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  color: var(--bs-contrast, rgba(255, 255, 255, 100%));
  pointer-events: none;
}

.cardBuild .title {
  font-size: var(--fs-card-title);
  font-weight: 700;
}

.cardBuild .address {
  margin-top: calc(1em / 1.75);
  color: var(--bs-secondary, rgba(173, 173, 173, 100%));
  font-size: var(--fs-text-secondary);
}

.cardBuild .meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.86em;
  font-size: var(--fs-text-secondary);
}

.cardBuild .meta > * {
  display: flex;
  align-items: center;
}

.cardBuild .meta > *[hidden] {
  display: none;
}

.cardBuild .meta > *:not(:last-child)::after {
  display: inline-block;
  width: calc(1em / 7);
  height: calc(1em / 7);
  margin: 0 calc(1em / 1.75);
  background-color: var(--bs-secondary, rgba(173, 173, 173, 100%));
  border-radius: 50%;
  content: "";
}

.meta > [data-build-state="booked"] {
  position: relative;
  z-index: 1;
  cursor: pointer;
  letter-spacing: initial;
  pointer-events: auto;
}

.meta > [data-build-state="booked"]::before {
  width: calc(1em / 0.7);
  height: calc(1em / 0.7);
  margin-right: calc(1em / 3.5);
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6699 5.29476C10.9983 5.29476 11.9997 5.29476 11.9997 5.29476C11.9997 8.02581 12.0015 11.269 11.9967 14C10.9969 14 0.998376 14 0.00179151 14C0.00179151 14 0 13.1579 0 12.9759C0 11.8039 0 5.29476 0 5.29476C0 5.29476 0.848507 5.29476 1.33127 5.29476L1.3298 4.78276C1.3298 3.5143 1.82174 2.29778 2.6974 1.40084C3.57307 0.503897 4.76072 0 5.99909 0C7.23747 0 8.42512 0.503897 9.30078 1.40084C10.1764 2.29778 10.6684 3.5143 10.6684 4.78276L10.6699 5.29476ZM9.33006 5.29476L9.32859 4.78276C9.32859 3.87827 8.9778 3.01082 8.3534 2.37124C7.729 1.73167 6.88213 1.37236 5.99909 1.37236C5.11606 1.37236 4.26919 1.73167 3.64478 2.37124C3.02038 3.01082 2.6696 3.87827 2.6696 4.78276L2.67107 5.29476H9.33006ZM4.99924 7.85512L4.99777 11.9517H6.99747L6.99894 7.85512H4.99924Z' fill='%23EE6A5F'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 1em;
  content: "";
}

.meta > [data-build-state="booked"] .tooltip {
  position: absolute;
  top: calc(100% + 1em);
  left: 2em;
  width: 18.2em;
  padding: calc(1em / 1.5) 1em;
  background-color: var(--bs-primary, rgba(46, 46, 46, 100%));
  font-size: var(--fs-text-caption);
  letter-spacing: -0.02em;
  line-height: 1;
  opacity: 0;
  transform: translateY(-5px);
  transition-delay: var(--dur-main), 0s, 0s;
  transition-duration: 0s, var(--dur-main), var(--dur-main);
  transition-property: visibility, opacity, transform;
  transition-timing-function: var(--easing-main), var(--easing-main), var(--easing-main);
  visibility: hidden;
}

.meta > [data-build-state="booked"] .tooltip::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: var(--border-size) solid var(--bs-dark, rgba(77, 77, 77, 100%));
  content: "";
}

.meta > [data-build-state="booked"]:hover .tooltip {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s, 0s;
  visibility: visible;
}

.meta > [data-build-state="booked"][hidden] {
  display: none;
}

.meta > [data-build-state="booked"]:not([hidden]) ~ [data-build-price] {
  display: none;
}

.cardBuild .prefix-rent {
  display: none;
}

.cardBuild[data-build="rent"] .prefix-rent {
  display: block;
}

.cardBuild .badge-list {
  display: flex;
  flex-wrap: wrap;
  order: -1;
}

.cardBuild[data-build="rent"] .badge-list {
  display: none;
}

.cardBuild .badge {
  margin-bottom: 1em;
}

.cardBuild .badge:not(:last-child) {
  margin-right: 0.6em;
}

.cardBuild .image {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition-duration: var(--dur-main);
  transition-property: transform;
  transition-timing-function: var(--easing-main);
}

.cardBuild:hover .image {
  transform: scale(1.075);
}

.cardBuild > .link {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 80em) {
  .cardBuild {
    height: 33.75em;
  }
}

/* --- end style component cardBuild --- */
