div(class='ui-btnDrag js-customCursor' aria-hidden='true')
  span(class='icon')
    svg(focusable='false')
      use(href='#icon-16-dropdown-close')
  span(class='icon')
    svg(focusable='false')
      use(href='#icon-16-dropdown-open')