/* --- style component shareLinks --- */
.shareLinks {
  display: flex;
  align-items: center;
}

.shareLinks .ui-linkSocial:not(:first-child) {
  margin-left: 1em;
}

.shareLinks .ui-linkSocial:first-child {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.shareLinks .ui-linkSocial:first-child::after {
  position: absolute;
  left: calc(100% - 1px);
  width: var(--border-size);
  height: 1em;
  margin-right: 1em;
  background-color: var(--bs-light, rgba(228, 228, 228, 100%));
  content: "";
  transform: translateX(1em);
}

.shareLinks .ui-linkSocial .icon {
  --color: currentcolor;

  transition-duration: var(--dur-main);
  transition-property: color;
  transition-timing-function: var(--easing-main);
}

.shareLinks .ui-linkSocial:hover .icon {
  color: var(--bs-corporate);
}

/* --- end style component shareLinks --- */
