/* --- style ui-btnSecondary  --- */
.ui-btnSecondary {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2.4rem 4rem;
  border: none;
  background-color: rgba(255, 255, 255, 0%);
  color: inherit;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 0.9;
  text-transform: lowercase;
  transition-duration: 0.15s;
  transition-property: color;
  transition-timing-function: ease-out;
}

/*
:after .ui-btnSecondary:hover background,
:before .ui-btnSecondary border
*/
.ui-btnSecondary::before,
.ui-btnSecondary::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
}

.ui-btnSecondary::after {
  z-index: 0;
  bottom: 0;
  left: 0;
  background-color: var(--bs-corporate, rgba(138, 140, 206, 100%));
  transform: scaleY(0);
  transform-origin: center bottom;
  transition-duration: 0.15s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.ui-btnSecondary::before {
  z-index: 1;
  bottom: 0;
  left: 0;
  border: 1px solid var(--bs-dark, rgba(77, 77, 77, 100%));
}

.ui-btnSecondary:hover {
  color: var(--bs-contrast, rgba(255, 255, 255, 100%));
}

.ui-btnSecondary:hover::after {
  transform: scaleY(1);
}

.ui-btnSecondary .text,
.ui-btnSecondary .icon {
  position: relative;
  z-index: 2;
}

.ui-btnSecondary .icon {
  --color: currentcolor;

  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color, currentcolor);
}

.ui-btnSecondary .icon + *,
.ui-btnSecondary * + .icon {
  margin-left: 0.4rem;
}

/* --- end style ui-btnSecondary  --- */
